@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?  family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

@layer utilities {
	/* Responsive utility class */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Base utility class */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

body {
	color: rgb(var(--foreground-rgb));
	font-family: "Montserrat", sans-serif;
    background-color: black;
}

.hero-section {
	@apply flex flex-col items-center justify-center w-full text-white relative p-2;
}

.file-upload {
	@apply w-full max-w-[400px] font-sans;
}
